:root {
  --color-dark-green: #163020;
  --color-medium-green: #304d30;
  --color-light-green: #b6c4b6;
  --color-light-background: #eef0e5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-light-background);
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
}
