:root {
  --color-dark-green: #163020;
  --color-medium-green: #304d30;
  --color-light-green: #b6c4b6;
  --color-light-background: #eef0e5;
}

* {
  margin:0;
  padding:0;
}

body{
  background-color: var(--color-light-background);
  min-height: 100vh;
  overflow-y: auto;
}